#frm{
    text-align: center;
    padding: 20%;
    
}
#frm{
    background-color: #32ff7e;

border-radius: 20rem;
}
.pq{
    background-color:#4b4b4b ;
    border-radius: 20rem;
    height: 150px;
    padding-top: 3rem;
    font-size: 1.2rem;
    color: aliceblue;
    animation-name: color;
    animation-duration: 20s;
    
}
@keyframes color{
    0%   {background-color: red;}
    10%  {background-color: yellow;}
    20%  {background-color: blue;}
    30% {background-color: green;}
    40% {background-color: black;}
    50% {background-color: pink;}
    60% {background-color: yellow;}
    70% {background-color: blue;}
    80% {background-color: violet;}
    90% {background-color: pink;}
    100% {background-color: red;}
}

#boo{
    background-color:#4b4b4b;
}
#frm input{
    border-radius: 20rem;
    border-color: black;
    

}
#frm button{
    height: 20%;
    width: 20%;
    /* background-color:rgb(207, 195, 21); */
    cursor: pointer;
    border-radius: 20rem;
    
}
#div .sty{
    background-color: black;
    padding: 10px;
}